[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/physfs"]
	path = external/physfs
	url = https://github.com/icculus/physfs.git
[submodule "external/freetype"]
	path = external/freetype
	url = https://github.com/freetype/freetype.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib.git
